*
!.git*
!LICENSE
!README.md
!build.sh
!config.xml
!fdroid_version.txt
!package.json
!docs
!docs/**
!fastlane
!fastlane/**
!moroway-app-oc
!moroway-app-oc/**
!res
!res/**
!scripts
!scripts/**
!www
!www/README.md
