*
!.git*
!LICENSE
!README.md
!config.xml
!package.json
!docs
!docs/**
!fastlane
!fastlane/**
!moroway-app-oc
!moroway-app-oc/**
!platforms
!platforms/android
!platforms/android/**
platforms/android/release-signing.properties
!plugins
plugins/**
!plugins/android.json
!plugins/fetch.json
!res
!res/**
!scripts
!scripts/**
!www
!www/README.md
