/*! modified by Jonathan Herrmann-Engel 2017 and 2020 */
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: calc(50vh - 2px);
  height: 4px;
  width: 15%;
  max-width: 300px;
  background: transparent;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
  opacity: 1;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 300px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: black;
}