/***********COLORS*************
* Background: rgb(48, 48, 48) *
*  Front: rgb(207, 207, 207)  *
*  Accent: rgb(210, 120, 27)  *
******************************/

body {
    font-family: Roboto;
    text-align: center;
    background: rgb(48, 48, 48);
    margin: 0;
    padding: 0;
}

article {
    padding: 2%;
    margin: 0;
    border-top: 1px rgba(85, 85, 85, 0.5) solid;
    border-bottom: 1px rgba(85, 85, 85, 0.5) solid;
}

a {
    color: rgb(79, 79, 79);
}

h1,
h2 {
    color: rgb(207, 207, 207);
}

@media (min-width: 500px) {
    article > h2 {
        font-size: 3em;
        font-weight: 300;
    }
}

.hidden {
    display: none !important;
}

#error-element {
    margin-top: 1em;
    text-align: center;
}
#error-element > * {
    line-height: 1.75em;
}
#error-element-heading {
    color: #ff0033;
    font-size: 3em;
}
#error-element-message {
    color: #ff77dd;
}
#error-element-action {
    color: #ffccee;
}

/* Info Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    justify-content: center;
}

.card {
    background: rgb(207, 207, 207);
    display: inline-block;
    margin: 1%;
    width: 90%;
    max-width: 450px;
}

.card-big {
    width: 55%;
    max-width: 55%;
}

@media (max-width: 1000px) {
    .card-big {
        width: 90%;
        max-width: 90%;
    }
}

.card-container .card:target {
    padding: 50px 10px;
}
.card-container-highlightable .card:target {
    border: 5px solid #ef5c9c;
    background: #ffeeee;
    display: inline-block;
    transform: scale(1.05, 1.05);
}
.card-container-highlightable .card:hover:target {
    transform: scale(1.1, 1.1);
}

.card-title > h2 {
    color: rgb(16, 16, 16);
    font-weight: 700;
}

.card-content {
    color: rgb(48, 48, 48);
    padding: 15px;
    font-size: 90%;
    line-height: 1.5;
    margin-bottom: 15px;
}

.card-content h3 {
    color: rgb(96, 96, 96);
}

.card button {
    margin: 0;
    padding: 5px 10px;
    border: none;
    background: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.card button:hover {
    background: rgba(12, 12, 12, 0.1);
}

/* Top Header */
.page-header {
    text-align: left;
    z-index: 99;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 11px 20px;
    background: rgb(12, 12, 12);
    color: rgb(207, 207, 207);
    overflow: hidden;
}

.page-header > * {
    vertical-align: middle;
}

.page-header #backOption {
    font-size: 2em;
    margin-right: 10px;
}
.page-header h1 {
    display: inline;
    padding-left: 5px;
    font-size: 1.4em;
    font-weight: 300;
}

/* Notify */
.notify {
    padding: 15px;
    margin: 0;
    z-index: 100;
    position: fixed;
    background: rgb(48, 48, 48);
    left: 0;
    bottom: 0;
    visibility: hidden;
    font-size: 90%;
}

.notify span {
    color: white;
    padding-right: 5px;
    content: " ";
}
.notify button {
    color: rgb(210, 120, 27);
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* Settings */
.settings {
    background: white;
    color: black;
}

.settings-list {
    list-style-type: none;
    padding: 0;
}

.settings-list > li {
    padding: 10px 0px;
    transition: opacity 0.2s;
    overflow: hidden;
}
.settings-list > li:first-of-type {
    padding-top: 0px;
}
.settings-list > li:last-of-type {
    padding-bottom: 0px;
}

.settings-opts-wrapper {
    color: rgba(0, 0, 0, 0.87);
    font-size: 110%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.settings-opts-left-button {
    padding: 1px;
    margin: 10px;
    margin-left: 14px;
    border-radius: 50%;
    background-color: #757575;
    font-size: 2em;
    color: white;
    transition: transform 2s;
}

.settings-hints-wrapper {
    color: rgba(0, 0, 0, 0.6);
    margin: 2px;
    margin-left: 16px;
    font-size: 90%;
}
.settings-hints-wrapper > * {
    margin: 2px 0;
}
.settings-hints-wrapper > i {
    color: rgba(0, 0, 0, 0.56);
}

#langoption {
    margin-top: 24px;
    margin-bottom: 24px;
}

#langoption #langoptioninfo {
    margin-left: 16px;
    margin-bottom: 10px;
}

#langoption #clang {
    color: grey;
    border: 1px grey solid;
    cursor: default;
}

#langoption .langvalue,
.settings-button {
    color: black;
    margin: 3px;
    margin-left: 16px;
    padding: 5px;
    background: none;
    border: 1px black solid;
    border-radius: 2px;
    cursor: pointer;
}

.settings-button {
    display: none;
    margin-top: 15px;
}

/* Server Note */
#server-note {
    font-family: Roboto;
    position: fixed;
    background: rgb(48, 48, 48);
    color: rgb(210, 120, 27);
    width: 80vw;
    height: 80vh;
    height: calc(80vh - calc(100vh - 100%));
    z-index: 2000;
    display: none;
    border: 10vw solid rgba(50, 50, 50, 0.5);
    border-top-width: 10vh;
    border-bottom-width: 10vh;
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
    overflow: hidden;
}
#server-note-main {
    display: flex;
    background: rgba(48, 48, 48, 0.75);
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}
#server-note-title {
    font-size: 400%;
    padding: 20px;
    line-height: 150%;
    border-bottom: 3px double rgb(207, 207, 207);
    background: rgb(210, 120, 27);
    color: rgb(48, 48, 48);
    white-space: nowrap;
    overflow-x: auto;
    flex-shrink: 0;
}
#server-note-inner {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
}
#server-note-text {
    font-size: 300%;
    margin: auto;
    padding: 30px;
    line-height: 150%;
}
#server-note-later {
    display: flex;
    justify-content: center;
    align-items: center;
}
#server-note-img {
    display: none;
    margin: auto;
    max-height: 25%;
    justify-content: center;
    align-items: center;
}
#server-note-img img {
    height: 95%;
    object-fit: contain;
}
#server-note-later-info {
    font-size: 80%;
    margin-bottom: 1vh;
}
#server-note-buttons {
    font-size: 150%;
    color: rgb(207, 207, 207);
    display: flex;
    justify-content: center;
}
#server-note-buttons div {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid rgb(207, 207, 207);
    display: flex;
    align-items: center;
}
#server-note-buttons div#server-note-button-go {
    display: none;
}
@media (max-height: 500px), (max-width: 750px) {
    #server-note {
        width: 90vw;
        height: 90vh;
        height: calc(90vh - calc(100vh - 100%));
        border: 5vw solid rgba(50, 50, 50, 0.5);
        border-top-width: 5vh;
        border-bottom-width: 5vh;
    }
    #server-note-title {
        font-size: 175%;
        padding: 0px;
    }
    #server-note-text {
        font-size: 150%;
    }
    #server-note-buttons {
        font-size: 100%;
    }
}
